body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.fixed-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  justify-content: space-between ;
  display: flex;
  padding: 10px;
  color: white;
}

.nav_list{
  display: flex;
  list-style: none;
}

.nav_item{
  margin-left: 30px;

}

.nav_ujung{
  margin-right: 30px;
}


.active-link {
  border-bottom: 5px solid ;

}


/* Tambahkan ke styles.css atau file CSS Anda */

.banner {
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: 1685px;
}

.parallax-container {
  position: relative;
  height: 500px; /* Sesuaikan dengan tinggi banner */
}

.parallax-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate3d(0, 0, 0);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* Efek parallax */
.parallax-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)); /* Sesuaikan dengan warna latar belakang yang diinginkan */
  z-index: 1;
}

/* Animasi parallax */
.parallax-image, .parallax-text {
  transition: transform 0.4s ease-in-out;
}

/* Efek parallax saat di-scroll */
.banner.is-scrolling .parallax-image {
  transform: translate3d(0, calc(-50% + 50px), 0);
}

.banner.is-scrolling .parallax-text {
  transform: translate(-50%, -50%) translateY(50px);
}

/* Tambahkan ke styles.css atau file CSS Anda */

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.post-card {
  max-width: 300px; /* Sesuaikan dengan kebutuhan */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-content {
  padding: 10px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.accessory__content {
  position: relative;
  display: grid;
  padding: 0.25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
  border-radius: 1rem;
}

.accessory__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.accessory__img {
  width: 210px;
  height: 110px;
  justify-self: center;
  margin-bottom: .25rem;
  object-fit: cover;
  border-radius: .5rem;
}

.accessory__title,
.accessory__category {
  text-align: center;
}

.accessory__title {
  font-size: var(--normal-font-size);
}

.accessory__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.container-card{
  grid: 4;
}